<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>Menu principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="flex-center">
    <ion-button (click)="irHome()">
      Home
      <ion-icon slot="end" name="arrow-redo"></ion-icon>
    </ion-button>
    <ion-list>
      <ion-item *ngFor="let usuario of usuarios">
        <ion-label>
          <h2>{{usuario.nome}}</h2>
          <p>{{usuario.email}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
